.block {
    display: flex;
    justify-content: center;
}

.block__quad {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 150px;
    height: 150px;
}

.block__quad--red {
    background-image: linear-gradient(135deg, #ff0000, #ed8e21);
    transform: translate(550px, 450px);
}

.block__quad--green {
    background-image: linear-gradient(135deg, #008000, #45d303);
    transform: translate(300px, -50px) rotate(120deg);
}

.block__quad--blu {
    background-image: linear-gradient(135deg, #0000ff, #700c6f);
    transform: scale(2) translate(362px, -112px) rotate(180deg);
}

.block__border {
    width: 800px;
    height: 600px;
    border: 5px dashed black;
}