.main__footer {
    position: relative;
    background: #000000;
}

.main__footer-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(-47.00deg, #022335, #043a41 100%);
    transform: rotate(-180.00deg);
    position: absolute;
}

.button__up {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: 123px;
    border-radius: 50%;
    box-shadow: 0px 7px 20px -7px #00e0ff;
    background: linear-gradient(180.00deg, #03e1ffa8, #13cdc2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.button__up-animation {
    background: var(--accent-text);
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0px;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: move-up;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes move-up {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.footer__inner {
    position: relative;
    padding: 68px 0 50px;
}

.footer__col {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__logo {
    position: relative;
    z-index: 1;
}

.footer__logo img {
    width: 100%;
}

.footer__contact {
    position: relative;
}

.contact__col {
    display: flex;
    gap: 36px;
    margin-bottom: 30px;
}

.contact__col-mail {
    display: flex;
    gap: 7px;
}

.footer__img-mail {
    padding-top: 5px;
}

.footer__mail {
    width: 201px;
    height: 28px;
    color: var(--accent-text);
    font-size: 18px;
    text-align: right;
    text-decoration-line: underline;
}

.footer__col-tel {
    display: flex;
}

.footer__number {
    width: 183px;
    height: 28px;
    color: var(--general-text);
    font-size: 18px;
    text-align: right;
    transition: var(--transition);
}

.footer__number:hover {
    color: var(--accent-text);
}

.footer__socials {
    position: absolute;
    right: 0%;
    display: flex;
    align-items: center;
    gap: 18px;
}

.socials__text {
    width: 108px;
    height: 22px;
    color: #747d81;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 12%;
    text-align: left;
    text-transform: uppercase;
}

.socials__list {
    display: flex;
    gap: 21px;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.footer__line {
    position: relative;
    width: 100%;
    height: 0;
    border: 1px solid #00e0ff33;
}

.footer__copyright-text {
    position: relative;
    max-width: 325px;
    width: 100%;
    height: 22px;
    background: linear-gradient(180.00deg, #ffffff 66%, #69686800 100%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.footer__bottom {
    position: relative;
    padding: 8px 0 20px;
    display: flex;
    justify-content: end;
}

.footer__bottom-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__bottom-text {
    padding-top: 4px;
    width: 147px;
    height: 22px;
    color: #747d81;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 12%;
    text-align: left;
    text-transform: uppercase;
}

.footer__bottom-img {
    width: 124px;
    height: 37px;
}

.footer__bottom-img img {
    width: 100%;
}