.block {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.block1 {
    text-decoration: line-through;
}
.block2 {
    text-transform: uppercase;
    text-align: center;
}
.block3 {
    text-decoration: overline;
    text-decoration-style: wavy;
    word-spacing: 30px;
    text-shadow: 2px 2px 2px #ca0000;
}
.block4 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
}