:root {
    --general-text: #ffffff;
    --accent-text: #4abcec;
    --border-radius-button: 9px;
    --border-radius-button2: 11px;
    --border-radius-input: 9px;
    --border-radius-input2: 11px;
    --border-radius-img: 20px;
    --border-radius-img2: 22px;
    --transition: all 0.4s;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family: "Avenir Next Cyr", sans-serif;
    line-height: 1.3;
    color: var(--general-text);
    font-weight: 500;
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.body--opened-modal__school {
    overflow: hidden;
}

.body--opened-modal__job {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.hero__separation {
    width: 100%;
    height: 1px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.reasons__separation {
    width: 100%;
    height: 2px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.intelligence__separation {
    width: 100%;
    height: 2px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.info__separation {
    width: 100%;
    height: 1px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.why__separation {
    width: 100%;
    height: 2px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.list__separation {
    width: 100%;
    height: 1px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.author__separation {
    width: 100%;
    height: 2px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.job__separation {
    width: 100%;
    height: 1px;
    box-shadow: 0px 3px 15px 0px #00e0ffed, 0px 4px 15px 0px #4ad9ec, 0px 0px 24px 0px #00e0ff;
    filter: blur(2px);
    position: absolute;
    z-index: 1;
}

.span {
    color: var(--accent-text);
}

/* ================================================================ */

.modal {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    max-width: 450px;
    padding: 33px 28px 44px;
    border-radius: 20px;
    background: linear-gradient(-47.00deg, #033958, #0f6b78 100%);
    box-shadow: 0px 20px 50px 0px #00000087;
}

.modal__cancel {
    position: absolute;
    top: 18px;
    right: 18px;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover path {
    stroke-width: 4;
}

.modal__title {
    font-size: 33px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 19px;
}

.modal__form-label:last-child {
    margin-bottom: 0px;
}

.modal__form-label span {
    display: block;
    color: var(--accent-text);
    font-size: 19px;
    letter-spacing: 10%;
    text-align: left;
    margin-bottom: 7px;
}

.field {
    display: block;
}

.field__input-border {
    width: 100%;
    height: 60px;
    border-radius: var(--border-radius-input2);
}

.field__input-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(-47.00deg, #064264, #0f6b78 100%);
    border-radius: var(--border-radius-input);
}

.field__input {
    width: 100%;
    height: 100%;
    padding: 21px 60px 16px;
    background: linear-gradient(180.00deg, #00e0ff1c, #00e0ff0d 100%);
    border-radius: var(--border-radius-input);
    font-size: 16px;
    color: var(--general-text);
}

.field__input--tel {
    padding: 21px 125px 16px;
}

.field__input--date {
    padding: 21px 150px 16px;
}

.field__input::placeholder {
    color: var(--general-text);
    font-size: 16px;
    letter-spacing: 10%;
    text-align: center;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-text);
}

.modal-button {
    max-width: 590px;
    width: 100%;
    margin-top: 14px;
}

/* ================================================================ */

.modal__school {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal__school .modal__school {
    opacity: 1;
    visibility: visible;
}

.modal__school-window {
    position: relative;
    max-width: 450px;
    height: 800px;
    padding: 45px 44px;
    border-radius: 20px;
    background: linear-gradient(-47.00deg, #022335, #0c373d 100%);
    box-shadow: 0px 20px 50px 0px #00000087;
}

.modal__school-scroll {
    max-width: 100%;
    height: 720px;
    border-radius: var(--border-radius-img);
    overflow-y: auto;
}

.modal__school-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.modal__school-scroll::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background: var(--accent-text);
}

.modal__school-slide {
    position: relative;
    max-width: 100%;
    margin-bottom: 30px;
}

.modal__school-slide:last-child {
    margin-bottom: 20px;
}

.modal__school-slide-img {
    position: relative;
    max-width: 387px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: var(--border-radius-img);
}

.modal__school-slide-img>img {
    width: 100%;
    border-radius: var(--border-radius-img);
}

.modal__school-data {
    width: 87px;
    height: 19px;
    display: flex;
    gap: 7px;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal__school-glare {
    position: absolute;
    left: 12%;
    bottom: -3px;
    width: 41px;
    height: 10px;
    filter: blur(4px);
    background: #03e1ffa8;
}

/* ======================================================= */

.modal__job {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal__job .modal__job {
    opacity: 1;
    visibility: visible;
}

.modal__job-window {
    position: relative;
    max-width: 450px;
    height: 800px;
    padding: 45px 44px;
    border-radius: 20px;
    background: linear-gradient(-47.00deg, #022335, #043a41 100%);
    box-shadow: 0px 20px 50px 0px #00000087;
}